<h3>Wumpus World Server for AI Bots
</h3>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">API Structure</h3>
    </div>
    <div class="panel-body">
        <ul class="list-group">
            <li class="list-group-item">api/board/new/</li>
            <li class="list-group-item">api/board/{boardid}/view</li>

            <li class="list-group-item">api/board/{boardid}/game/new</li>
            <li class="list-group-item">api/board/{boardid}/game/{gameid}/status</li>
            <li class="list-group-item">api/board/{boardid}/game/{gameid}/view</li>


            <li class="list-group-item">api/board/{boardid}/game/{gameid}/forward</li>
            <li class="list-group-item">api/board/{boardid}/game/{gameid}/left</li>
            <li class="list-group-item">api/board/{boardid}/game/{gameid}/right</li>
            <li class="list-group-item">api/board/{boardid}/game/{gameid}/shoot</li>
            <li class="list-group-item">api/board/{boardid}/game/{gameid}/grab</li>
        </ul>
    </div>
</div>





<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Actions</h3>
    </div>
    <div class="panel-body">
        <ul class="list-inline">
            <li>Forward</li>
            <li>Left</li>
            <li>Right</li>
            <li>Shoot</li>
            <li>Grab</li>
        </ul>
    </div>
</div>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Action Senses</h3>
    </div>
    <div class="panel-body">
        <ul class="list-inline">
            <li>Bump</li>
            <li>Screem</li>
            <li>Silence</li>
            <li>Moved</li>
            <li>Turned</li>
            <li>Fell</li>
            <li>Eaten</li>
            <li>Looted</li>
            <li>Nothing</li>
        </ul>
    </div>
</div>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Cell Senses</h3>
    </div>
    <div class="panel-body">
        <ul class="list-inline">
            <li>Stench</li>
            <li>Breeze</li>
            <li>Glitter</li>
        </ul>
    </div>
</div>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Sample Board</h3>
    </div>
    <div class="panel-body">
        [["Strt","Free","Free","Free","Free"],<br />
        ["Free","Free","Free","Free","Free"],<br />
        ["Free","Free","Pit ","Pit ","Pit "],<br />
        ["Free","Free","Free","Pit ","Pit "],<br />
        ["Free","Free","Gold","Wumpus","Free"]]<br />
    </div>
</div>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Sample State</h3>
    </div>
    <div class="panel-body">
        {"ActionSenses" : "Moved",
        <br />
        "CellSenses": ["Stench","Breeze"],
        <br />
        "ActorState": "S(1,0)"}
    </div>
</div>
